:root {
  --mainRed: #FF001F;
  --mainWhite: #FFFFFF;
  --bg: #070707

}
body {
  font-family: Roboto, 'Open Sans', sans-serif;
  background-color: var(--bg) !important;
}
.card {
  box-shadow: 6px 6px 8px #777;
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
}
:hover {
  text-decoration: none;
}

.figure-caption {
  font-weight: 600;
  font-size: 1.2rem !important;
  /* white-space: nowrap !important;
  text-overflow: ellipsis !important;
  overflow: hidden !important; */
  color: var(--mainRed) !important;
}
.figure-img {
  border: 1rem solid #fff;
  border-radius: 10px;
}

