:root {
  --mainRed: #FF001F;
  --mainWhite: #FFFFFF;
  --bg: #070707

}
body {
  font-family: Roboto, 'Open Sans', sans-serif;
  background-color: var(--bg) !important;
}
.card {
  box-shadow: 6px 6px 8px #777;
  margin: 1.125rem;
  padding: .75rem;
  border-radius: 10px;
}
.title:hover, a:hover {
  text-decoration: none !important;
  font-weight: 600;
}
.white {
  color: var(--mainWhite);
}

/* .footer{
  position: absolute;
  bottom:0
} */

.card-title{
  text-shadow: 2px 2px rgba(0,0,0,0.1);
  font-weight: 700;
  color:var(--mainRed)
}

.card-img {
  border: 6px solid rgba(0,0,0,0.1);
  border-radius: 10px;
}

.bg {
  background-color: transparent;
  position: absolute;
  width: 94%;
  left: 3rem;
  top: 15rem;
  z-index: 1;
}

.top-image, .img-bd {
  position:relative;
  width:100%;
  top:5px;
  z-index:-1;
  max-height:50vh
}

.cast-img {
  border: 3px solid var(--mainRed);
  border-radius: 10px;
}
.cast-text {
  width:60px;
  font-size: .75rem;
  max-lines: 2;
  white-space: wrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--mainRed);
}
.btn{
  background-color: var(--mainRed) !important;
  color: var(--mainWhite) !important;
}

.trailer-div {
  float: left;
  margin-right: 10px;
}

iframe {
  float: left;
  border: 4px solid #fff;
  border-radius: 10px;
}
.stars {
  float: left;
  margin-right: 15px;
}
.stars-no {
  color: #FFF;
  font-weight: 600;
}
